name: iOS CI with Xcode

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
      - 'ios/**'
      - 'Gemfile'
      - '.github/workflows/ios.yml'
      - 'index.{js,ts}'
      - 'metro.config.js'
      - 'babel.config.js'
      - 'react-native.config.js'
      - 'package.json'
      - 'yarn.lock'
      # - 'package-lock.json'
      # - 'pnpm-lock.yaml'
      # - 'bun.lock'
      # - 'vlt-lock.json'

  workflow_dispatch:

jobs:
  build-ios:
    # if PR contains either 'linting' or '@types' labels (see: renovate.json5) don't run (i.e. skip) this expensive job
    if: ${{ !(github.event_name == 'pull_request' && (contains(github.event.pull_request.labels.*.name, 'linting') || contains(github.event.pull_request.labels.*.name, 'types'))) }}

    runs-on: macos-26 # https://github.com/actions/runner-images/blob/main/images/macos/macos-26-arm64-Readme.md

    steps:

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

#     - uses: mikehardy/buildcache-action@v1

#       yarn cache
#       node_modules cache

    - name: Install deps and setup
      run: yarn && yarn setup

    - name: npx react-native info
      run: npx react-native info

#     - uses: ruby/setup-ruby@v1
#       with:
#         bundler-cache: true # bundle install and cache installed gems automatically
#     - run: bundle exec rake

#     - uses: setup/cocoapods # cache
#       DerivedData cache

#     Debug
#     - name: Install pods (debug)
#       run: cd ios && pod update hermes-engine --no-repo-update && cd ..
#     - name: Build iOS (debug)
#       run: npx react-native run-ios --configuration Debug

#     - name: Xcode clean
#       run: xcodebuild clean

#     Release
    - name: Install pods (release)
      run: cd ios && PRODUCTION=1 pod install  && cd .. # --clean-install --repo-update
    - name: Build iOS (release)
      run: yarn ios:release
