name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows run workflow from Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install with Yarn
        run: yarn && yarn setup

      - name: Run @lavamoat/git-safe-dependencies
        run: yarn git-safe-dependencies

      - name: Run @lavamoat/git-safe-dependencies (git-safe-actions)
        run: yarn git-safe-actions

      - name: Compile with TypeScript
        run: yarn tsc

      - name: Lint with ESLint
        run: yarn lint

      - name: Test with Jest
        run: yarn test
